<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Market Moves Alerts</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="fas fa-home" style="margin-right:15px;"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="OpenAlerts"><i class="fas fa-list-ul" style="margin-right:15px;"></i> Alerts</NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Counter">
                        <i class="fas fa-fire" style="margin-right:15px;"></i> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <div style="display:flex;">
                        <NavLink class="nav-link" href="/HotList"><i class="fas fa-fire" style="margin-right:15px;"></i> Hot list</NavLink>
                        <NavLink class="nav-link" href="/HotListEdit"><i class="fas fa-cog" style="margin-right:15px;"></i></NavLink>
                    </div>
                </li>
                <li class="nav-item px-3">
                    <div style="display:flex;">
                        <NavLink class="nav-link" href="/OpenAlerts"><i class="fas fa-list-ul" style="margin-right:15px;"></i> Alerts</NavLink>
                        <NavLink class="nav-link" href="/AlertsManager"><i class="fas fa-cog" style="margin-right:15px;"></i></NavLink>
                    </div>
                </li>
            </NotAuthorized>
            <Authorizing>
                Authorizing...
            </Authorizing>
        </AuthorizeView>
        <AuthorizeView Roles="admin">
            <Authorized>
            </Authorized>
        </AuthorizeView>
    </ul>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
