@page "/HotList"
@inject HttpClient client
@inject IModalService Modal
    <div class="text-center">
        <h3><i class="fas fa-fire" style="margin-right:15px;"></i> Hot List <i class="fas fa-fire" style="margin-left:15px;"></i></h3>
        <i class="fas fa-question-circle" style="margin-right:15px;float:right;font-size: 3rem;" @onclick="ShowHelpModal"/>
        @if (hotList is null)
        {
            <p>Loading...</p>
        }
        else if (hotList.Length == 0)
        {
            <p>The hot list is empty.</p>
        }
        else
        {
            @foreach (var item in hotList)
            {
                <p style="margin-top: 15px;">
                    <a href="@item.Image">@item.Symbol</a> - @item.Description
                </p>
                <img src="@item.Image" alt="daily" style="width:75%; height:auto">
            }
        }
    </div>


@code {
    Model.HotList[] hotList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hotList = await client.GetJsonAsync<Model.HotList[]>("https://mmapi2020.azurewebsites.net/api/HotList");
    }
    void ShowHelpModal() => Modal.Show<HotListHelp>("How to Play the Hot List");
}
